/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 oct. 2020, 15:59:13
    Author     : arielrubi
*/
body, html{
    /*color: #fff;
    background: #006493 !important;
    background-color: #006493 !important;
    overflow-x: hidden;
    overflow-y: hidden;*/
}
.logo{
    width: 150px;
}
.formulario-principal-cuadro{
    z-index: 2; 
}
.formulario-principal{
    width: 80%;
    background: rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.6);
}
.formulario-principal h2{
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase;
    text-align: justify;
}
.text-principal-segundo{
    margin-top: -10px;
    font-weight: 500 !important;
}
.formulario-principal p{
    text-align: justify;
    text-transform: uppercase;
    font-size: 14px;
}
.texto-p-segundario{
    margin-top: -20px; 
}
.bg-texto-principal, .bg-amarillo{
    background: #e9a62b;
    background-color: #e9a62b;
}
.texto-principal{
    font-weight: 400;
    font-size: 2.5rem;
    width: 500px;
} 
.bg-naranja{
    background: #ed7426!important;
    background-color: #ed7426!important;
}
.form-control{
    font-size: 14px;
    height: 35px;
    border-radius: 0px;
} 
.btnSolicitar{
    font-weight: 300;
}  
.principal{
    height: 800px;
    background-image: url("../img/fondo-principal.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.fondo-final{
    height: 700px;
    background-image: url("../img/fondo-final.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.cuadro-central{  
    height: auto;
    z-index: 9;
}
.cuadro-central h2{ 
    font-weight: 300;
}
.cuadro-central p{  
    text-transform: uppercase;
    font-size: 14px;
}
.cuadro-central label{  
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}
.cuadro-ofrecemos{
    width: 190px;
}  
.img-iconos{
    width: 100px;
}
.btnSolicitar:focus, .btnSolicitar:active, .btnSolicitar:hover
{
    outline: 0; 
    box-shadow: none !important;
}
.formulario-final{
    width: 90%;
    background: rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.6);
}
.formulario-final p{
    text-align: justify;
    text-transform: uppercase;
    font-size: 14px;
}
.formulario-final-cuadro{
    z-index: 2;
}
.formulario-final h2{
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase;
    text-align: justify;
}
.bg-texto-final, .bg-rojo{
    background: #b92d20;
    background-color: #b92d20;
} 
.img-redes{
    width: 25px;
}
.bg-dark{
    background: #000 !important;
    background-color: #000 !important;
}
#emailHelp, #emailHelp1{
    font-weight: bold;
}  
.principal-exito{
    height: 800px;
    background-image: url("../img/fondo-principal.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.principal-exito .logo{ 
    width: 150px;
    margin-left: 0rem!important;
}
.principal-exito .formulario-principal{ 
    position: relative;
    width: 40%;
    height: 400px;
}
.principal-exito .formulario-principal h4 {
    text-transform: uppercase;
    margin-top: -15px;
    font-weight: 400;
}
.fondo-con-img-texto{
    background: #e9a62b;
    background-color: #e9a62b;
}
.imagen-contexto{
    width: 550px;
}
@media only screen and (max-width: 1380px){
    .formulario-principal{ 
        width: 90%;
    } 
}
@media only screen and (max-width: 1250px){
    .formulario-principal p, .formulario-final p {
        font-size: 14px; 
    } 
}
@media only screen and (max-width: 1175px){
    .formulario-principal p, .formulario-final p {
        font-size: 13px; 
    }
    .formulario-principal{ 
        width: 100%;
    }  
}

@media only screen and (max-width: 1080px){
    .formulario-principal h2 , .formulario-final h2 {
        font-size: 30px; 
    }
    .formulario-principal p, .formulario-final p {
        font-size: 12px;
    }
    .form-control {
        font-size: 10px;
    } 
    .cuadro-ofrecemos{
        width: 160px;
    } 
}

@media only screen and (max-width: 960px){
    .formulario-final h2 { 
        font-size: 30px;
    }
    .formulario-principal p, .formulario-final p {
        font-size: 11px;
    } 
    .cuadro-ofrecemos{
        width: 130px;
    } 
}
@media only screen and (max-width: 860px){


}
@media only screen and (max-width: 768px){
    .fondo-con-img-texto{
        background: #b92d20;
        background-color: #b92d20;
    }
    .imagen-contexto{
        width: 350px;
    }
    .logo{
        width: 120px;
    }
    .formulario-final {
        width: 100%;
    }
    .formulario-principal h2 , .formulario-final h2 { 
        font-size: 20px;
    }
    .formulario-principal p,.formulario-final p {
        font-size: 10px;
    } 
    .cuadro-central p { 
        font-size: 12px;
    }
    .cuadro-central h2 {
        font-size: 1.5rem;
    }
    .formulario-principal {
        width: 100%;
    }
    .formulario-principal-cuadro{ 
        margin-left: 0rem!important;
    }
    .formulario-principal-cuadro .col-6{ 
        padding: 0px 3px!important;
    } 
    .formulario-final{
        padding: 0px;  
    }
    .formulario-final-cuadro .col-6 {
        padding: 0px 3px!important;
    }
    .fondo-final {
        height: 700px;
    } 
    .principal-exito {  
        background-size: 550px 100%;
        padding: 0;
    }
    .principal-exito .formulario-principal {
        width: 100%;
        padding: 0;
    }
}
@media only screen and (max-width: 576px){ 
    .principal , .fondo-final{
        height: 700px;
        background-size: 600px 100%;
    }
}
@media (max-width: 380px){
    .cuadro-ofrecemos {
        width: 150px;
    } 
    .principal {
        height: 700px;
    }
    .imagen-contexto {
        width: 260px;
    }
}

@media (max-width: 320px){ 
}
@media only screen and (max-width: 900px) and (orientation: landscape) { 
    .principal {
        height: 600px;
    }
    .fondo-final {
        height: 660px;
    }
    .cuadro-ofrecemos {
        width: 130px;
    }
    .formulario-principal {
        width: 100%;
    }
    .formulario-principal-cuadro .col-6{ 
        padding: 0px 3px!important;
    }
    .formulario-final-cuadro .col-6{ 
        padding: 0px 3px!important;
    }
}
@media only screen and (max-width: 760px) and (orientation: landscape) {
    .fondo-final {
        height: 500px;
    } 
    .principal-exito {
        background-size: 100% 100%; 
    }
    .principal-exito .formulario-principal {
        width: 60%; 
    }
    .cuadro-ofrecemos {
        width: 350px;
    }
}
@media only screen and (max-width: 680px) and (orientation: landscape) {

}
@media only screen and (max-width: 570px) and (orientation: landscape) { 
    .fondo-final {
        height: 835px;
    }
    .formulario-principal {
        width: 100%;
    }
    .cuadro-ofrecemos {
        width: 300px;
    }
    .principal {
        height: 650px;
    }
}
